.wrapper {
  //overflow: hidden;
  width: 100%;
  height: 100%;
  background: #1d2228;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  width: 96.48%;
  margin: 0 auto;
  box-sizing: border-box;
}
.dropdown {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 24px;
  margin-top: 32px;
  z-index: 1000;
}
.dropdown__recent {
  width: 168px;
  height: 40px;
  border-radius: 99px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.dropdown__auctions {
  width: 121px;
  height: 40px;
  border-radius: 99px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.dropdown__recent__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  color: #fff;
  font-size: 14px;
  font-family: "Raleway-700";
}
.dropdown__recent__toggle::after {
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  background-image: url("../images/vhf-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.dropdown__auctions__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  color: #fff;
  font-size: 14px;
  font-family: "Raleway-700";
}
.dropdown__auctions__toggle::after {
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  background-image: url("../images/vhf-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.dropdown__menu__recent li {
  list-style: none;
  color: #fff;
  font-size: 12px;
  font-family: "Raleway-700";
}
.dropdown__menu__auctions li {
  list-style: none;
  color: #fff;
  font-size: 12px;
  font-family: "Raleway-700";
}
.dropdown__menu__recent {
  display: none;
  row-gap: 5px;
}
.dropdown__menu__auctions {
  display: none;
  row-gap: 5px;
}

.dropdown__recent .dropdown__menu {
  display: flex;
  flex-direction: column;
}
.dropdown__recent:hover .dropdown__menu__recent {
  display: flex;
  flex-direction: column;
}
.dropdown__auctions:hover .dropdown__menu__auctions {
  display: flex;
  flex-direction: column;
}
.cards_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 16px;
  row-gap: 16px;
  margin-bottom: 16px;
}
.cards_wrapper2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 16px;
  row-gap: 16px;
}
.button_gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 121px;
  height: 40px;
  border-radius: 12px;
  opacity: 1;
  background: rgb(65, 33, 119);
 // background: linear-gradient(90deg, rgba(135,67,255,1) 0%, rgba(65,54,241,1) 35%);
  margin-top: 24px;
  margin-bottom: 60px;
  z-index: 1;
}
.button_gradient span {
  font-size: 14px;
  font-family: "Raleway-700";
  background-clip: text;
   background: #8743FF;
  background: linear-gradient(to left, #8743ff 0%, #d8c2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}
