.wrapper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 653px;
    height: 937px;
    border-radius: 32px;
    background: #30363D;
    box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.05);
    padding: 45px 24px 36px 24px;
    z-index: 999;
    box-sizing: border-box;
    }
    .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway-700';
    margin-bottom: 32px;
    }
    .personalInfo {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(3,auto);   
    column-gap: 16px;
    row-gap: 24px;
    }
    .personalInfo__item {
    width: 100%;
    height: auto;    
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: center;
    }
    .personalInfo__item__title {
        color: rgba(255, 255, 255, 0.50);
        font-size: 16px;
        font-family: 'Raleway-600';
        }
        .personalInfo__item__input {
            width: 100%;
            height: 40px;
            border-radius: 8px;
            background: #1D2228;
        }
        .personalInfo__item__userName {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
        .personalInfo__item__text {
            color: rgba(255, 255, 255, 0.50);
            font-size: 12px;
            font-family: 'Raleway-500';
            margin-top: 18px;
            }
            .personalInfo__itemFull {
                width: 100%;
                height: auto;
                grid-column-start: 1;
                grid-column-end: 3;
                margin-bottom: 24px;
                box-sizing: border-box;
             }
            .personalInfo__item__inputFull {
            margin-top: 8px;    
            width: 100%;
            height: 120px;
            border-radius: 8px;
            background: #1D2228;
            box-sizing: border-box;
            }
            .personalInfo__item__title_margin {
                color: rgba(255, 255, 255, 0.50);
                font-size: 16px;
                font-family: 'Raleway-600';
                margin-bottom: 8px;
            }
            .image__wrapper {
                width: 294px;
                min-height: 120px;
                border-radius: 16px;
                background: #1D2228;
                box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.05);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                row-gap: 13px;
                padding: 20px;
                box-sizing: border-box;
                align-self: flex-start;
                margin-bottom: 24px;
            }
            .image__title {
                color: rgba(255, 255, 255, 0.50);
                font-size: 16px;
                font-family: 'Raleway-600';
              }
              .image__body {
                display: flex;
                align-items: center;
                column-gap: 16px;
              }
              .image__info {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
              }
              .image__info__item {
                color: rgba(255, 255, 255, 0.50);
                font-size: 16px;
                font-family: 'Raleway-500';
               }
              .image__info__redText {
                display:  flex;
                align-items: center;
                column-gap: 5px;
              }
              .image__info__item_redish {
                color: #FF5E54;
                font-size: 16px;
                font-family: 'Raleway-500';
                }
                .socialMedia {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    align-self: flex-start;
                    margin-bottom: 24px;
                }
                .socialMedia__title {
                    color: rgba(255, 255, 255, 0.50);
                    font-size: 16px;
                    font-family: 'Raleway-600';
                    }
                    .socialMedia__item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .socialMedia__item__wrapper {
                        display: flex;
                        align-items: center;
                    }
                    .socialMedia__item__logo {
                        margin-right: 6px;
                    }
                    .socialMedia__item__title {
                        color: #FFF;
                        font-size: 14px;
                        font-family: 'Raleway-400';
                        line-height: 18px;
                      }
                    .socialMedia__item__input {
                        width: 89.43%;
                        max-width: 504px;
                        height: 40px;
                        border-radius: 8px;
                        background: #1D2228;   
                        box-sizing: border-box;         
                    }
                    .button {
                        width: 157px;
                        height: 40px;
                        border-radius: 12px;
                        background: var(--linear, linear-gradient(270deg, #8743FF 0%, #4136F1 100%));
                        box-shadow: 0px 15px 30px 0px rgba(20, 102, 204, 0.16);
                        color: #FFF;
                        font-size: 14px;
                        font-family: 'Raleway-700';
                       }
                       .closeWindow {
                        position: absolute;
                        top: 54px;
                        right: 24px;
                       }
   