.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 5px;
    margin-left: -16px;
}
.header__description {
    margin-left: -2px;
}
.header__title {
    color: #FFF;
    font-size: 18px;
    font-family: 'Raleway-600';
    margin-bottom: 5px;
}
.header__userName {
    font-size: 14px;
    font-family: 'Raleway-500';
    background-image: linear-gradient(to right, #8743FF, #D8C2FF);
    -webkit-background-clip: text; 
   // -moz-background-clip: text; 
    background-clip: text;
    color: transparent; 
  }
  