.body {
    width: 100%;
    display: flex;
    align-items: center;
   }
.userInfo {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.userInfo__textWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.userInfo__userName {
color: #FFF;
font-size: 18px;
font-family: 'Raleway-700';
}
.userInfo__userId {
font-size: 14px;
font-family: 'Raleway-500';
background-image: linear-gradient(to right, #8743FF, #4136F1);
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text;
color: transparent; 
}
.userInfo__button {
min-width: 109px;
height: 40px;
border-radius: 12px;
background: var(--linear, linear-gradient(270deg, #8743FF 0%, #4136F1 100%));
box-shadow: 0px 15px 30px 0px rgba(20, 102, 204, 0.16);
color: #FFF;
font-size: 14px;
font-family: 'Raleway-700';
display: flex;
align-items: center;
justify-content: center;
box-sizing: border-box;
}