.placeBid {
    position: absolute;
    left: 50%;
    top: -74px;
    transform: translate(-50%, -50%);
    width: 39.3%;
    border-radius: 16px;
    background: #30363D;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    box-sizing: border-box;
}
.placeBid__current {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.placeBid__title {
color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-family: 'Raleway-600';
}
.placeBid__current__price {
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.placeBid__numbers {
color: #FFF;
font-size: 16px;
font-family: 'Raleway-600';
}
.placeBid__price {
color: rgba(255, 255, 255, 0.50);
font-size: 16px;
font-family: 'Raleway-600';
}
.placeBid__auction {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.placeBid__auction__time {
color: #FFF;
font-size: 16px;
font-family: 'Raleway-600';
}
.placeBid__time__wrapper {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.placeBid__button__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 40px;
    border-radius: 12px;
    background: var(--linear, linear-gradient(270deg, #8743FF 0%, #4136F1 100%));
    box-shadow: 0px 15px 30px 0px rgba(20, 102, 204, 0.16);
    color: #FFF;
    font-size: 14px;
    font-family: 'Raleway-700';
}