.body {
    width: 100%;
    max-width: 246px;
    max-height: 222px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #333940;
    padding: 24px 56px;
    box-sizing: border-box;
}
.ava {
    margin-bottom: 20px;
}
.name {
color: #FFF;
font-size: 20px;
font-family: 'Raleway-700';
margin-bottom: 8px;
}
.userName {
font-size: 16px;
font-family: 'Raleway-500';
background-image: linear-gradient(to right, #8743FF, #D8C2FF);
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text;
color: transparent; 
margin-bottom: 8px;
}
.time {
color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-family: 'Raleway-600';
}
