.title {
color: #FFF;
font-size: 32px;
font-family: 'Raleway-700';
margin-bottom: 24px;
}
.container {
    display: flex;
    align-items: center;
    column-gap: 16px;
    flex-wrap: nowrap;
   }
.slide {
    width: 246px !important;
    max-height: 222px !important;
    box-sizing: border-box !important;
    margin-right: 16px;
    margin-bottom: 25px;
    }
    
