@font-face {
    font-family: 'Gilroy-700';
    src: url('./fonts/Gilroy-Bold.woff');
}
@font-face {
    font-family: 'Gilroy-800';
    src: url('./fonts/Gilroy-ExtraBold.woff');
}
@font-face {
    font-family: 'Gilroy-400';
    src: url('./fonts/Gilroy-Regular.woff');
}
@font-face {
    font-family: 'Gilroy-600';
    src: url('./fonts/Gilroy-SemiBold.woff');
}
@font-face {
    font-family: 'Gilroy-500';
    src: url('./fonts/Gilroy-Medium.woff');
}
