@font-face {
    font-family: 'Raleway-600';
    src: url('./fonts/Raleway-SemiBold.woff');
}
@font-face {
    font-family: 'Raleway-700';
    src: url('./fonts/Raleway-Bold.woff');
}
@font-face {
    font-family: 'Raleway-500';
    src: url('./fonts/Raleway-Medium.woff');
}
@font-face {
    font-family: 'Raleway-400';
    src: url('./fonts/Raleway-Regular.woff');
}
@font-face {
    font-family: 'Poppins-400';
    src: url('./fonts/Poppins-Regular.woff');
}